body {
    padding: 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    width: 700px;
    gap: 20px;
}